@font-face {
  font-family: "SF Pro Diplay";
  src: url("../fonts/SF-Pro-Display-Regular.woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Diplay";
  src: url("../fonts/SF-Pro-Display-Bold.woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Space age Cyrillic";
  src: url("../fonts/spaceagecyrillic-regular.woff");
  font-weight: normal;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: inherit;
  color: inherit;
  outline: none;
}

body {
  background: #000 url("../images/jpg/background.jpg") no-repeat fixed center
    center;
  background-size: cover;
  font-family: "SF Pro Diplay", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #fff;
  overflow-x: hidden;
  box-shadow: inset 0 0 12.5em #000;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
}

::placeholder {
  color: inherit;
  font-family: inherit;
}

.link {
  display: block;
  text-transform: uppercase;
  font-size: 1.125em;
}

.title {
  font-family: "Space Age Cyrillic", sans-serif;
  width: fit-content;
}
.title__span {
  display: block;
  text-align: center;
}

.button {
  display: inline-block;
  padding: 1.1em 3.5em;
  border: 1px solid #fff;
  background: none;
  font-size: 18px;
  font-size: 1.125em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-align: center;
  transition: 0.3s;
  cursor: pointer;
}

.form__input {
  background: none;
  border: none;
  border-bottom: 1px solid #fff;
  padding: 20px 0;
  display: block;
  width: 100%;
  font-size: 1em;
}
.form__button {
  width: 100%;
  margin-top: 3em;
}

body::-webkit-scrollbar {
  width: 0.5em;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

.container {
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
}

.info_box {
  display: flex;
  flex-wrap: wrap;
  grid-gap: 1em 3.125em;
}
.info__col {
  max-width: 9.375em;
}

.section {
  padding: 6.25em 0;
}
.section__top {
  margin-bottom: 6.25em;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.section__title {
  font-size: 3em;
}
.section__bottom {
  margin-top: 3.125em;
}
.section__bottom .section__title {
  font-size: 1.5em;
  text-align: center;
}
.sections_box {
  box-shadow: 0 -12.25em 12.25em #000;
  background: #000;
}
.sections_box__inner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 6.25em;
}

.checkbox__box {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.checkbox {
  margin-right: 15px;
  width: 1.2em;
  height: 1.2em;
}

.table {
  width: 100%;
  border-collapse: collapse;
  border-top: 1px solid #fff;
}
.table_head,
.table_val {
  text-align: center;
  padding: 1em 0.5em;
  border-bottom: 1px solid #fff;
}
.table_head {
  text-transform: uppercase;
  font-weight: 400;
}
.table_val {
  font-weight: 700;
  font-size: 0.875em;
}
.table_val_main {
  display: block;
  font-size: 2.25em;
}

/* ===== Header ===== */
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  padding: 50px 0;
  background: linear-gradient(180deg, #000, transparent);
}
.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__link {
  display: flex;
  align-items: center;
}
.header__link_icon {
  width: 1.875em;
  height: 1.875em;
  margin-left: 1.375em;
}

/* ===== Navbar ===== */
.navbar__list {
  display: flex;
  list-style-type: none;
  grid-gap: 1.875em;
}

@media (max-width: 992px) {
  .navbar {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    min-width: 300px;
    padding: 8.5em 2em 5em;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.7);
    transform: translateX(100%);
    transition: 0.5s;
    overflow: auto;
  }
  .navbar_active {
    transform: translateX(0%);
  }
  .navbar__list {
    flex-direction: column;
    align-items: center;
  }
  .navbar__link {
    width: 100%;
    padding: 5px 0;
  }
  .navbar__bg {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    transform: translateX(1000%);
  }
  .navbar__bg_active {
    transform: translateX(0);
  }
}

/* Burger */
.burger {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 40px;
  height: 40px;
  padding: 5px;
  background: none;
  border: none;
  margin-left: auto;
  z-index: 1001;
  display: none;
}
.burger::before,
.burger::after,
.burger__line {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background: #fff;
  transition: 0.3s;
}
.burger_active::before {
  transform: translateY(10px) rotate(135deg);
}
.burger_active::after {
  transform: translateY(-10px) rotate(-135deg);
}
.burger_active .burger__line {
  opacity: 0;
  transition: 0s;
}

/* ===== Intro ===== */
.intro {
  position: relative;
  background-size: cover;
  background-position: right top;
}
.intro__bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}
.intro__bg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background: linear-gradient(180deg, #010203, transparent, #010203);
}
.intro__bg_img {
  position: absolute;
  right: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* object-position: right center; */
}
.intro__inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}
.intro__main {
  max-width: 600px;
}
.intro__main_title {
  margin: 0 auto;
}
.intro__main_title .title__span:nth-child(1) {
  font-size: 2em;
  letter-spacing: 0.5em;
  margin-bottom: -0.4em;
}
.intro__main_title .title__span:nth-child(2) {
  font-size: 3.3em;
}
.intro__main_subtitle {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  grid-gap: 0.4em 1em;
  margin: 1em 0.5em 2.125em;
  font-size: 1.2em;
}
.intro__button {
  padding: 15px 1.25em;
  width: 100%;
}
.intro__info_box {
  margin: 50px 0 -150px auto;
}
.intro__info__col {
  max-width: 10.3125em;
}

/* ===== About ===== */
.about {
  box-shadow: inset 0 12.25em 12.25em #000;
}
.about__item {
  display: flex;
  flex-wrap: wrap;
  grid-gap: 6.25em;
  margin-bottom: 6.25em;
}
.about__item:nth-child(odd) .about__item_img_box {
  order: 1;
}
.about__item:last-child {
  margin-bottom: 0;
}
.about__item_img_box {
  overflow: hidden;
}
.about__item_img {
  width: 100%;
  max-width: 500px;
  height: auto;
}
.about__item_content {
  flex: 1;
}
.about__item_name {
  font-size: 3.33em;
}
.about__item_service {
  text-transform: uppercase;
  color: #036cca;
}
.about__item_info_box {
  margin: 1.875em 0 2em;
}
.about__item_info__col {
  max-width: 10.3125em;
}
.about__button {
  margin-top: 3em;
  letter-spacing: 0.4em;
}

/* ===== Plan ===== */
.plan {
  box-shadow: inset 0 -12.25em 10em #000;
}

/* Scheme */
.scheme {
  position: relative;
  max-width: 55em;
  height: 34.375em;
  margin: 0 auto;
}
.scheme__item {
  /* position: relative; */
  position: absolute;
  display: flex;
  font-size: 1.125em;
  line-height: 1.25em;
  padding: 1em;
  margin: -1em;
}
.scheme__item::after {
  content: "";
  height: 1px;
  background: #fff;
  position: absolute;
  top: 1.6em;
}
.scheme__item:nth-child(1) {
  top: 0;
  left: 0;
}
.scheme__item:nth-child(1)::after {
  width: 150px;
  transform: translateY(33px) rotate(28deg);
}
.scheme__item:nth-child(2) {
  top: 66px;
  left: 130px;
}
.scheme__item:nth-child(2)::after {
  width: 120px;
  transform: translate(-13px, 55px) rotate(57deg);
}
.scheme__item:nth-child(3) {
  top: 167px;
  left: 195px;
}
.scheme__item:nth-child(3)::after {
  width: 150px;
  transform: translate(-23px, 70px) rotate(61deg);
}
.scheme__item:nth-child(4) {
  top: 297px;
  left: 266px;
}
.scheme__item:nth-child(4)::after {
  width: 110px;
  transform: translate(-63px, 40px) rotate(-64deg);
}
.scheme__item:nth-child(5) {
  top: 394px;
  left: 216px;
}
.scheme__item:nth-child(5)::after {
  width: 200px;
  transform: translate(0, 65px) rotate(36deg);
}
.scheme__item:nth-child(5) .scheme__text {
  text-align: right;
}
.scheme__item:nth-child(6) {
  top: 515px;
  left: 386px;
}
.scheme__item:nth-child(6)::after {
  width: 210px;
  transform: translate(-15px, -65px) rotate(-40deg);
}
.scheme__item:nth-child(7) {
  top: 380px;
  left: 550px;
}
.scheme__item:nth-child(7)::after {
  width: 300px;
  transform: translate(-280px, -40px) rotate(16deg);
}
.scheme__point {
  display: block;
  width: 1.25em;
  height: 1.25em;
  border-radius: 50%;
  background-color: #fff;
  transition: 0.3s;
}

.scheme__text {
  position: absolute;
  left: 100%;
  max-width: 18.75em;
  width: max-content;
  cursor: default;
  transition: 0.3s;
}
.scheme__item:nth-child(5) .scheme__text {
  left: auto;
  right: 110%;
}

/* ===== Call to Action ===== */
.cta {
  position: relative;
  min-height: 50vw;
}
.cta__info__col {
  max-width: 11em;
}
.cta__bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}
.cta__bg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background: linear-gradient(180deg, #010203 8.85%, transparent 86.98%);
}
.cta__bg_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: left bottom;
}

/* ===== Special ===== */
.special {
  box-shadow: inset 0 12.25em 12.25em #000;
}
.special__content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 12.5em;
}
.special__item_info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #fff;
  padding: 2.5em;
  text-align: center;
  min-height: 20em;
}
.special__item_text {
  max-width: 10em;
  line-height: 1.4;
  margin: 0 auto;
  font-size: 1.5em;
}
.special__item_text span {
  color: #cb0e0e;
}
.special__item_old_price {
  position: relative;
  width: fit-content;
  margin-left: auto;
}
.special__item_old_price::before {
  content: "";
  display: block;
  width: 110%;
  height: 2px;
  background: #cb0e0e;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  transform: translate(-50%, -50%);
}
.special__item_new_price {
  font-size: 3em;
}
.special__item_button {
  width: 100%;
  margin-top: 1.5em;
}

/* ===== Services ===== */
.services__content {
  display: flex;
  grid-gap: 5em;
  /* align-items: center; */
}
.services__info {
  flex: 1;
  font-size: 1.5em;
}
.services__buttons {
  width: 31.25em;
}
.services__button {
  width: 100%;
  margin-bottom: 3.125em;
  position: relative;
}
.services__button_img {
  position: absolute;
  bottom: 40px;
  right: 0;
  width: 12em;
  height: 9.375em;
}
.services__checkboxes {
  margin: 1.5em 0;
}
.services__small_text {
  font-size: 0.6em;
  color: #e5e5e5;
}

/* ===== Gallery ===== */
.gallery__content {
  border: 1px solid #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6.25em 3.125em;
  position: relative;
}

.slider__box {
  position: relative;
  max-width: 50em;
  max-height: 28.125em;
  /* width: 50em; */
}
.slider__img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  cursor: grab;
}
.slider__arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background: none;
  padding: 10px;
  cursor: pointer;
}
.arrow_prev {
  left: 40px;
}
.arrow_next {
  right: 40px;
}

/* Contacts */
.contacts__text {
  font-size: 1.5em;
  margin-top: -2em;
  margin-bottom: 2em;
}
.contacts__form {
  display: flex;
  flex-direction: column;
  grid-gap: 1em;
}

/* Guarantees */
.guarantees__text {
  font-size: 1.5em;
  margin-top: -2em;
}
.guarantees__quote {
  display: block;
}
.guarantees__img_box {
  margin-left: auto;
  width: fit-content;
}
.guarantees__img {
  max-width: 25em;
  width: 100%;
  max-height: 25em;
  height: auto;
}

/* Footer */
.footer {
  position: relative;
}
.footer__inner {
  display: flex;
  align-items: center;
  height: 25em;
  grid-gap: 4em;
  justify-content: flex-end;
}
.footer__col {
  width: fit-content;
}
.footer__text {
  max-width: 11em;
  margin-bottom: 2em;
  line-height: 1.5;
}
.footer__link {
  margin-bottom: 1.1em;
}
.footer__bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}
.footer__bg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background: linear-gradient(180deg, #010203, transparent, #010203);
}
.footer__bg_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: right center;
}

@media (min-width: 1200px) {
  .link:hover {
    color: #cb0e0e;
  }
  .button:hover {
    color: #000;
    background: #fff;
  }
  .scheme__item:hover .scheme__point {
    transform: scale(1.3);
  }
  .scheme__item:hover .scheme__text {
    font-size: 1.2em;
  }
}

@media (max-width: 1200px) {
  body {
    font-size: 15px;
  }
  /* Intro */
  .intro__main {
    margin: 0 auto;
  }
  .intro__info_box {
    position: absolute;
    bottom: 15px;
    right: 15px;
    margin: 0;
    /* flex-direction: column; */
    grid-gap: 2em;
  }
  .intro__info__col {
    max-width: 200px;
    /* margin-bottom: 15px; */
  }
  /* About */
  .about__item {
    grid-gap: 3em;
  }
  .about__item_img {
    max-width: 400px;
  }
  .about__item_name {
    font-size: 2.3em;
  }
  /* Scheme */
  .scheme {
    margin: 0 auto;
  }
  /* Special */
  .special__content {
    grid-gap: 6em;
  }
  /* Gallery */
  .gallery__content {
    flex-direction: column;
    padding: 30px 30px 0;
    margin: 0 auto;
    width: fit-content;
  }
  .slider__arrows {
    display: flex;
    justify-content: space-between;
    max-width: 300px;
    width: 100%;
    margin-top: 30px;
  }
  .arrow_prev,
  .arrow_next {
    border: 1px solid #fff;
    position: static;
  }
  /* Sections */
  .sections_box__inner {
    grid-gap: 5em;
  }
}

@media (max-width: 992px) {
  /* Navbar */
  .header {
    padding: 30px 0;
  }
  .header__link {
    display: none;
  }
  /* Burger */
  .burger {
    display: flex;
  }
  /* Intro */
  .intro__info_box {
    position: static;
    margin: 50px auto 0;
  }
  /* About */
  .about__button {
    margin-top: 2em;
  }
  .about__item {
    flex-direction: column;
    max-width: 600px;
    margin: 0 auto 6.25em;
  }
  .about__item:nth-child(odd) .about__item_img_box {
    order: 0;
  }
  .about__item_img_box {
    max-width: 600px;
    height: fit-content;
  }
  .about__item_img {
    max-width: 100%;
    height: 650px;
    object-fit: cover;
    object-position: center top;
  }
  .about__item_info__col {
    flex: 1;
  }
  /* Scheme */
  .scheme {
    max-width: 51em;
  }
  .scheme__item:nth-child(6)::after {
    width: 157px;
    transform: translate(-46px, -65px) rotate(-73deg);
  }
  .scheme__item:nth-child(7) {
    left: 430px;
  }
  .scheme__item:nth-child(7)::after {
    width: 185px;
    transform: translate(-164px, -42px) rotate(28deg);
  }
  .scheme__text {
    max-width: 16.75em;
  }
  /* Sections */
  .sections_box__inner {
    grid-template-columns: 1fr;
    grid-gap: 0;
  }
  /* Sections */
  .section__top {
    flex-direction: column;
    grid-gap: 2em;
  }
  /* CTA */
  .cta__info__col {
    max-width: 250px;
  }
  /* Guarantees */
  .guarantees {
    order: -1;
  }
  .guarantees__img_box {
    margin: 0 auto;
  }
  /* Services */
  .services__content {
    flex-direction: column;
  }
  .services__info {
  }
  .services__buttons {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    grid-gap: 2em;
    width: 100%;
    margin-bottom: -2em;
  }
  .services__button {
    margin-bottom: 0;
    width: fit-content;
  }
  .services__button_img {
    width: 6em;
    height: 4.5em;
    bottom: 44px;
    top: -3.9em;
    bottom: auto;
    right: 20px;
  }
}

@media (max-width: 768px) {
  /* About */
  .about__item {
    max-width: 500px;
    grid-gap: 2em;
  }
  .about__item_img {
    max-width: 500px;
    height: 550px;
  }
  /* Scheme */
  .scheme {
    max-width: 38em;
  }
  .scheme__item:nth-child(1)::after {
    width: 93px;
    transform: translate(-4px, 36px) rotate(48deg);
  }
  .scheme__item:nth-child(2) {
    left: 60px;
  }
  .scheme__item:nth-child(3) {
    top: 168px;
    left: 129px;
  }
  .scheme__item:nth-child(3)::after {
    width: 90px;
    transform: translate(-54px, 48px) rotate(112deg);
  }
  .scheme__item:nth-child(4) {
    top: 260px;
    left: 93px;
  }
  .scheme__item:nth-child(4)::after {
    width: 262px;
    transform: translate(-134px, 131px) rotate(-85deg);
  }
  .scheme__item:nth-child(5) {
    top: 519px;
    left: 69px;
  }
  .scheme__item:nth-child(5) .scheme__text {
    text-align: right;
    left: 100%;
    right: auto;
  }
  .scheme__item:nth-child(5)::after {
    width: 153px;
    transform: translate(0px, -40px) rotate(-32deg);
  }
  .scheme__item:nth-child(6) {
    top: 441px;
    left: 195px;
  }
  .scheme__item:nth-child(6)::after {
    width: 109px;
    transform: translate(-12px, -45px) rotate(-56deg);
  }
  .scheme__item:nth-child(7) {
    top: 349px;
    left: 259px;
  }
}

@media (max-width: 768px) {
  /* Intro */
  .intro__main_title .title__span:nth-child(2) {
    font-size: 3em;
  }
  .intro__main_subtitle {
    justify-content: center;
    text-align: center;
  }
  /* Scheme */
  .scheme__item:nth-child(6)::after {
    width: 109px;
    transform: translate(-52px, -48px) rotate(-99deg);
  }
  .scheme__item:nth-child(7) {
    top: 340px;
    left: 178px;
  }
  .scheme__item:nth-child(7)::after {
    width: 118px;
    transform: translate(-89px, -39px) rotate(43deg);
  }
  /* Special */
  .special__content {
    grid-template-columns: 1fr;
    grid-gap: 3em;
    max-width: 400px;
    margin: 0 auto;
  }
}

@media (max-width: 540px) {
  .section {
    padding: 5em 0;
  }
  .section__top {
    margin-bottom: 5em;
  }
  .section__title {
    font-size: 2em;
  }
  .button {
    font-size: 1em;
    padding: 1em 1.5em;
  }
  /* Intro */
  .intro__main_title .title__span:nth-child(1) {
    font-size: 1.8em;
    letter-spacing: 0;
    margin-bottom: 0em;
  }
  .intro__main_title .title__span:nth-child(2) {
    font-size: 1.8em;
  }
  .intro__info__col {
    margin: 0 auto;
    max-width: 300px;
  }
  .intro__button {
    display: block;
    width: fit-content;
    margin: 0 auto;
  }
  .intro__bg_img {
    object-position: 70% center;
  }
  /* About */
  .about__item_info_box {
    flex-direction: column;
  }
  .about__item_info__col {
    max-width: 100%;
  }
  .about__item_table .table_val:nth-child(1):before {
    content: "trabel time: ";
  }
  .about__item_table .table_val:nth-child(2):before {
    content: "distance: ";
  }
  .about__item_table .table_val:nth-child(3):before {
    content: "Weightlessness: ";
  }
  .about__item_table .table_val:nth-child(4):before {
    content: "price: ";
  }
  .about__item_table .table_val:nth-child(5):before {
    content: "come back: ";
  }
  .about__item_img {
    width: 100%;
    height: fit-content;
  }
  /* Scheme */
  .scheme {
    max-width: 300px;
  }
  .scheme__item:nth-child(2)::after {
    width: 109px;
    transform: translate(-46px, 55px) rotate(94deg);
  }
  .scheme__item:nth-child(3) {
    left: 54px;
  }
  .scheme__item:nth-child(3)::after {
    width: 90px;
    transform: translate(-60px, 48px) rotate(118deg);
  }
  .scheme__item:nth-child(4) {
    left: 5px;
  }
  .scheme__item:nth-child(4)::after {
    width: 262px;
    transform: translate(-126px, 131px) rotate(-88deg);
  }
  .scheme__item:nth-child(5) {
    left: -6px;
  }
  .scheme__item:nth-child(5)::after {
    width: 106px;
    transform: translate(0px, -25px) rotate(-32deg);
  }
  .scheme__item:nth-child(6) {
    top: 462px;
    left: 87px;
  }
  .scheme__item:nth-child(6)::after {
    width: 133px;
    transform: translate(-72px, -66px) rotate(-103deg);
  }
  .scheme__item:nth-child(7) {
    top: 327px;
    left: 55px;
  }
  .scheme__item:nth-child(7)::after {
    width: 91px;
    transform: translate(-57px, -30px) rotate(53deg);
  }
  .scheme__item:nth-child(7) .scheme__text {
    max-width: 12.75em;
  }
  /* Gallery */
  .gallery__content {
    padding: 0;
  }
  /* Table */
  .table_row {
    display: flex;
    flex-direction: column;
  }
  .table_head {
    display: none;
  }
  .table_val {
    display: flex;
    align-items: center;
    font-size: 1.3em;
    padding: 0.8em 0;
  }
  .table_val::before {
    content: "";
    text-transform: capitalize;
    margin-right: 1em;
    font-weight: 400;
    /* font-size: 1.5em; */
  }
  .table_val_main {
    font-size: 1em;
    margin-right: 5px;
  }
  /* Footer */
  .footer__inner {
    height: fit-content;
    flex-wrap: wrap;
    /* flex-direction: column; */
    align-items: flex-start;
    justify-content: space-between;
    grid-gap: 1em;
    padding: 2em 0;
  }
  .footer__text {
    max-width: 100%;
    margin-bottom: 1em;
  }
}
